<launch>
<node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode">
	<param name="angle_compensate" type="bool" value="true"/>
</node>
<node pkg="motor_hat_receiver" type="node" name="node" output="screen"/>
<param name="robot_description" textfile="$(find robot_description)/urdf/robot.urdf" />
<param name="use_gui" value="False"/>

</launch>
